# AWS SAM
.aws-sam/
backend/.aws-sam/
samconfig.toml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.pytest_cache/

# Mac
.DS_Store
backend/.DS_Store
extension/.DS_Store

# IDE
.vscode/
.idea/
dist/

# Extension
extension.pem
extension.crx
extension/node_modules
extension/archives
